.space {
  margin-top: 10px;
}

.container {
  display: flex;
  border: 2px solid black;
  margin: 2rem 10rem;
}

.heading {
  text-align: center;
  color: blue;
  margin-top: 20px;
  line-height: 5%;
  position: absolute;
  top: 0;
  left: 39%;
  background-color: #fff;
  padding: 0px 4rem;
  z-index: 10;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}
